<h1>Country</h1>
<%= @costs[-1]["name"] %> <br>
&#36; <%= params[:budget] %> <br>

<%= @budget %> <br>
<%= @midrange %> <br>
<%= @luxury %>

<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>Hostrocket</title>
<link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/slick.css">
<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
    
<body>
<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div style="height: 1px;" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Search</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 row-title">
                <h4>Ready to go in seconds</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div id="info-box1" class="info-box opened-info">
                    <div class="info-icon"><i class="hroc hroc-business"></i></div>
                    <div class="info-title">Tangible improvments</div>
                    <div class="info-circle"><div class="circle-icon"></div></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div id="info-box2" class="info-box">
                    <div class="info-icon"><i class="hroc hroc-transport"></i></div>
                    <div class="info-title">Fast as rocket</div>
                    <div class="info-circle"><div class="circle-icon"></div></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div id="info-box3" class="info-box">
                    <div class="info-icon"><i class="hroc hroc-technology"></i></div>
                    <div class="info-title">Ideas to life</div>
                    <div class="info-circle"><div class="circle-icon"></div></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div id="info-box4" class="info-box">
                    <div class="info-icon"><i class="hroc hroc-search"></i></div>
                    <div class="info-title">Discover Hostrocket</div>
                    <div class="info-circle"><div class="circle-icon"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="info-text1" class="container-fluid info-text-holder">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="info-title-icon">
                    <i class="hroc hroc-business"></i>
                    <div>Tangible improvments</div>
                </div>
                <div class="info-text">
                At vero eos et quas molestias excepturi sint occaecati cupiditate et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
                </div>
            </div>
        </div>
    </div>
</div>
<div id="info-text2" class="container-fluid info-text-holder info-closed">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="info-title-icon">
                    <i class="hroc hroc-transport"></i>
                    <div>Fast as rocket</div>
                </div>
                <div class="info-text">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
et quas molestias excepturi sint occaecati cupiditate.
                </div>
            </div>
        </div>
    </div>
</div>
<div id="info-text3" class="container-fluid info-text-holder info-closed">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="info-title-icon">
                    <i class="hroc hroc-technology"></i>
                    <div>Ideas to life</div>
                </div>
                <div class="info-text">
                Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
et quas molestias excepturi sint occaecati cupiditate at vero eos et accusamus et iusto odio dignissimos ducimus qui.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pricing" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="plan-box">
                    <div class="plan-box-header color-bg1">
                        <div class="plan-title">Budget</div>
                        <div class="price-holder">
                            <div class="currency"><%= @costs[-1]["symbol"] %></div>
                            <div class="number">
                                <div class="num-big"><%= @costs[-1]["value_budget"].to_f.round(2) %></div>
                                <div class="num-small-holder">
                                    <div class="duration">/day</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="plan-box-content">
                        <ul class="c-list"> 
                          <% @costs.first(12).each do |cost| %>   
                            <li class="c-item"><i class="fa fa-check" aria-hidden="true"></i>
                              <%= cost["name"] %>
                              <%= cost["symbol"] %> <%= cost["value_budget"].to_f.round(2) %>
                            </li>
                          <% end %>
                        </ul>
                    </div>
                    <div class="plan-box-button">
                        <a class="color-bg1" href="#">...</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="plan-box">
                    <div class="plan-box-header color-bg2">
                        <div class="plan-title">Midrange</div>
                        <div class="price-holder">
                            <div class="currency"><%= @costs[-1]["symbol"] %></div>
                            <div class="number">
                                <div class="num-big"><%= @costs[-1]["value_midrange"].to_f.round(2) %></div>
                                <div class="num-small-holder">
                                    <div class="duration">/day</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="plan-box-content">
                        <ul class="c-list"> 
                          <% @costs.first(12).each do |cost| %>
                            <li class="c-item"><i class="fa fa-check" aria-hidden="true"></i>
                              <%= cost["name"] %> 
                              <%= cost["symbol"] %> <%= cost["value_midrange"].to_f.round(2) %>
                            </li>
                          <% end %>
                        </ul>
                    </div>
                    <div class="plan-box-button">
                        <a class="color-bg2" href="#">...</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="plan-box">
                    <div class="plan-box-header color-bg3">
                        <div class="plan-title">Luxury</div>
                        <div class="price-holder">
                            <div class="currency"><%= @costs[-1]["symbol"] %></div>
                            <div class="number">
                                <div class="num-big"><%= @costs[-1]["value_luxury"].to_f.round(2) %></div>
                                <div class="num-small-holder">
                                  <div class="duration">/day</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="plan-box-content">
                        <ul class="c-list">  
                          <% @costs.first(12).each do |cost| %>  
                            <li class="c-item"><i class="fa fa-check" aria-hidden="true"></i>
                              <%= cost["name"] %>
                              <%= cost["symbol"] %> <%= cost["value_luxury"].to_f.round(2) %>
                            </li>
                          <% end %>
                        </ul>
                    </div>
                    <div class="plan-box-button">
                        <a class="color-bg3" href="#">...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 row-title">
                <h4>...</h4>
                <h5>Created by Justin<br>
                    Powered by BudgetYourTrip.</h5>
            </div>
        </div>
    </div>
</div>

<script src="assets/jquery.min.js"></script> 
<script src="assets/bootstrap.min.js"></script>
<script src="assets/createjs.min.js"></script>
<script src="assets/slick.min.js"></script>
<script src="assets/main.js"></script>
</body>
