<h1>Country</h1>
<%= @costs[-1]["name"] %> <br>
&#36; <%= params[:budget] %> <br>

<%= @budget %> <br>
<%= @midrange %> <br>
<%= @luxury %>

<h1>Budget</h1>

<%= @costs[-1]["symbol"] %> <%= @costs[-1]["value_budget"].to_f.round(2) %> <br>

<% @costs.first(12).each do |cost| %>
  <div>
  	<%= cost["name"] %> <br>
  	<%= cost["symbol"] %> <%= cost["value_budget"].to_f.round(2) %>
  </div>
  <br>
<% end %>

<h1>Midrange</h1>

<%= @costs[-1]["symbol"] %> <%= @costs[-1]["value_midrange"].to_f.round(2) %> <br>

<% @costs.first(12).each do |cost| %>
  <div>
  	<%= cost["name"] %> <br>
  	<%= cost["symbol"] %> <%= cost["value_midrange"].to_f.round(2) %>
  </div>
  <br>
<% end %>

<h1>Luxury</h1>

<%= @costs[-1]["symbol"] %> <%= @costs[-1]["value_luxury"].to_f.round(2) %> 

<% @costs.first(12).each do |cost| %>
  <div>
  	<%= cost["name"] %> <br>
  	<%= cost["symbol"] %> <%= cost["value_luxury"].to_f.round(2) %>
  </div>
  <br>
<% end %>